[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-restful ="*"
Werkzeug = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
sqlalchemy-serializer = "*"

[requires]
python_full_version = "3.12.0"

